src/schema/kassa-schema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Kassa Master Schema — Alle Kassa-contracten
  Integration Project 2025/2026 | Groep 2
  Versie 1.1 — Maart 2026

  Bron: Team Kassa contractoverzicht (R1–R3)

  Gebruik: runtime-validatie via lxml in Python (xml_validator.py).

  Geen targetNamespace — XML-berichten op de queue bevatten
  geen namespace-declaraties.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.1">

  <!-- ============================================================
       GEDEELDE SIMPLE TYPES
  ============================================================ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BelgianVatNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BE[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ServiceIdKassaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KASSA"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SystemStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="healthy"/>
      <xs:enumeration value="degraded"/>
      <xs:enumeration value="unhealthy"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WarningType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="heartbeat"/>
      <xs:enumeration value="statusCheck"/>
      <xs:enumeration value="user"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NonNegativeAmountType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       GEDEELDE COMPLEX TYPES
  ============================================================ -->

  <xs:complexType name="SystemLoadType">
    <xs:sequence>
      <xs:element name="cpu">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="memory">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="disk">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrderItemType">
    <xs:sequence>
      <xs:element name="productName" type="xs:string"/>
      <xs:element name="quantity" type="xs:positiveInteger"/>
      <xs:element name="unitPrice" type="NonNegativeAmountType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UnpaidPersonType">
    <xs:sequence>
      <xs:element name="id" type="UUIDType"/>
      <xs:element name="firstName" type="NameType"/>
      <xs:element name="lastName" type="NameType"/>
      <xs:element name="email" type="EmailType"/>
      <xs:element name="linkedToCompany" type="xs:boolean"/>
      <xs:element name="companyName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       CONTRACT 7 — Kassa → Controlroom: heartbeat
       Queue: kassa.heartbeat | durable: false
  ============================================================ -->
  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId" type="ServiceIdKassaType"/>
        <xs:element name="timestamp" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 8 — Kassa → Controlroom: statuscheck
       Queue: kassa.status.checked | durable: false
  ============================================================ -->
  <xs:element name="StatusCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId" type="ServiceIdKassaType"/>
        <xs:element name="timestamp" type="ISO8601DateTimeType"/>
        <xs:element name="status" type="SystemStatusType"/>
        <xs:element name="uptime" type="xs:nonNegativeInteger"/>
        <xs:element name="systemLoad" type="SystemLoadType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 9 — Controlroom → Kassa: systeemwaarschuwing
       Queue: controlroom.warning.issued | durable: false
  ============================================================ -->
  <xs:element name="Warning">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId" type="xs:string"/>
        <xs:element name="message" type="xs:string"/>
        <xs:element name="type" type="WarningType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 10a — Kassa → CRM: persoonscheck request
       Queue: kassa.person.lookup.requested | durable: true
  ============================================================ -->
  <xs:element name="PersonLookupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="email" type="EmailType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 10b — CRM → Kassa: persoonscheck response
       Queue: crm.person.lookup.responded | durable: false
  ============================================================ -->
  <xs:element name="PersonLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="found" type="xs:boolean"/>
        <xs:element name="linkedToCompany" type="xs:boolean"/>
        <xs:element name="id" type="UUIDType" minOccurs="0"/>
        <xs:element name="companyName" type="xs:string" minOccurs="0"/>
        <xs:element name="companyId" type="UUIDType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 13 — CRM → Kassa: user confirmed
       Queue: crm.user.confirmed | durable: true
  ============================================================ -->
  <xs:element name="UserConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="UUIDType"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="firstName" type="NameType"/>
        <xs:element name="lastName" type="NameType"/>
        <xs:element name="phone" type="xs:string" minOccurs="0"/>
        <xs:element name="role" type="UserRoleType"/>
        <xs:element name="companyId" type="UUIDType" minOccurs="0"/>
        <xs:element name="badgeCode" type="xs:string" minOccurs="0"/>
        <xs:element name="isActive" type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 14 — CRM → Kassa: company confirmed
       Queue: crm.company.confirmed | durable: true
  ============================================================ -->
  <xs:element name="CompanyConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="UUIDType"/>
        <xs:element name="vatNumber" type="BelgianVatNumberType"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="isActive" type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 16 — Kassa → CRM: betaling bevestigd
       Queue: kassa.payment.confirmed | durable: true
  ============================================================ -->
  <xs:element name="PaymentConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="UUIDType" minOccurs="0"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="registrationId" type="xs:string" minOccurs="0"/>
        <xs:element name="amount" type="NonNegativeAmountType"/>
        <xs:element name="currency" type="CurrencyType"/>
        <xs:element name="paidAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 17a — Kassa → CRM: lijst niet-betaalden request
       Queue: kassa.unpaid.requested | durable: true
  ============================================================ -->
  <xs:element name="UnpaidRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 17b — CRM → Kassa: lijst niet-betaalden response
       Queue: crm.unpaid.responded | durable: false
  ============================================================ -->
  <xs:element name="UnpaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="persons">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" type="UnpaidPersonType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT K-01 — Kassa → Facturatie: factuurverzoek bedrijfstransactie
       Queue: kassa.invoice.requested | durable: true
  ============================================================ -->
  <xs:element name="InvoiceRequested">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="orderId" type="xs:string"/>
        <xs:element name="userId" type="UUIDType"/>
        <xs:element name="companyId" type="UUIDType"/>
        <xs:element name="amount" type="NonNegativeAmountType"/>
        <xs:element name="currency" type="CurrencyType"/>
        <xs:element name="orderedAt" type="ISO8601DateTimeType"/>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" type="OrderItemType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="email" type="EmailType" minOccurs="0"/>
        <xs:element name="companyName" type="xs:string" minOccurs="0"/>
        <xs:element name="eventId" type="xs:string" minOccurs="0"/>
        <xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 18 — CRM → Kassa: user updated
       Queue: crm.user.updated | durable: true
  ============================================================ -->
  <xs:element name="UserUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="UUIDType"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="firstName" type="NameType"/>
        <xs:element name="lastName" type="NameType"/>
        <xs:element name="phone" type="xs:string" minOccurs="0"/>
        <xs:element name="role" type="UserRoleType"/>
        <xs:element name="companyId" type="UUIDType" minOccurs="0"/>
        <xs:element name="badgeCode" type="xs:string" minOccurs="0"/>
        <xs:element name="street" type="xs:string" minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
        <xs:element name="city" type="xs:string" minOccurs="0"/>
        <xs:element name="country" type="CountryCodeType" minOccurs="0"/>
        <xs:element name="isActive" type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="updatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 19 — CRM → Kassa: company updated
       Queue: crm.company.updated | durable: true
  ============================================================ -->
  <xs:element name="CompanyUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="UUIDType"/>
        <xs:element name="vatNumber" type="BelgianVatNumberType"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="email" type="EmailType" minOccurs="0"/>
        <xs:element name="phone" type="xs:string" minOccurs="0"/>
        <xs:element name="street" type="xs:string" minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
        <xs:element name="city" type="xs:string" minOccurs="0"/>
        <xs:element name="country" type="CountryCodeType" minOccurs="0"/>
        <xs:element name="isActive" type="xs:boolean"/>
        <xs:element name="updatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 22 — CRM → Kassa: user deactivated (GDPR)
       Queue: crm.user.deactivated | durable: true
  ============================================================ -->
  <xs:element name="UserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="UUIDType"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 23 — CRM → Kassa: company deactivated
       Queue: crm.company.deactivated | durable: true
  ============================================================ -->
  <xs:element name="CompanyDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="UUIDType"/>
        <xs:element name="vatNumber" type="BelgianVatNumberType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       INTEGRATION SERVICE: User CRUD Operations
       
       Supports CREATE, READ, UPDATE, DELETE operations for users
       within the Integration Service (VM 2).
       
       Queue: integration.user.* | durable: true
  ============================================================ -->

  <!-- ============================================================
       User Element — Core user data structure
       Used in UserCreated, UserUpdated messages
  ============================================================ -->
  <xs:element name="User">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="UUIDType"/>
        <xs:element name="firstName" type="NameType"/>
        <xs:element name="lastName" type="NameType"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="companyId" type="UUIDType" minOccurs="0"/>
        <xs:element name="badgeCode" type="xs:string"/>
        <xs:element name="role" type="UserRoleType"/>
        <xs:element name="createdAt" type="ISO8601DateTimeType" minOccurs="0"/>
        <xs:element name="updatedAt" type="ISO8601DateTimeType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       UserCreated Event — Emitted when a new user is created
       Queue: integration.user.created | durable: true
  ============================================================ -->
  <xs:element name="UserCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="UUIDType"/>
        <xs:element name="firstName" type="NameType"/>
        <xs:element name="lastName" type="NameType"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="companyId" type="UUIDType" minOccurs="0"/>
        <xs:element name="badgeCode" type="xs:string"/>
        <xs:element name="role" type="UserRoleType"/>
        <xs:element name="createdAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       UserUpdatedIntegration Event — Emitted when a user is updated
       Queue: integration.user.updated | durable: true
  ============================================================ -->
  <xs:element name="UserUpdatedIntegration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="UUIDType"/>
        <xs:element name="firstName" type="NameType"/>
        <xs:element name="lastName" type="NameType"/>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="companyId" type="UUIDType" minOccurs="0"/>
        <xs:element name="badgeCode" type="xs:string"/>
        <xs:element name="role" type="UserRoleType"/>
        <xs:element name="updatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       UserDeleted Event — Emitted when a user is deleted/deactivated
       Queue: integration.user.deleted | durable: true
  ============================================================ -->
  <xs:element name="UserDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId" type="UUIDType"/>
        <xs:element name="deletedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
